.sort_window {
    width: 98vw;
    /*top: 30px;*/
    margin-left: auto;
    margin-right: auto;
}

.array_window {
    border: 2px solid black;
    display: flex;
    width: 98vw;
    height: 30vh;
    align-items: flex-end;
}

.array_element {
    border: .1rem solid wheat;
    /*width: 40px;*/
    /*height: 200px;*/
    background: gray;
}

.sort_button {
    position: relative;
    left: 10px;
}

.refresh_button {
    position: relative;
    left: 15px;
}

.lower_zone {
    display: flex;
    margin-top: 3vh;
}

.stack_area {
    width: 15vw;
    margin-left: 2vw;
}

.stack {
    height: 40vh;
    width: 15vw;
    border: 2px solid black;
    display: flex;
    flex-direction: column-reverse;
}

.stack_element {
    height: calc(10% - 2px);
    width: 15vw;
    border: 1px solid black;
}

.merge_area {
    margin-top: 5vh;
    margin-left: 8vw;
}

.merge_window {
    display: flex;
}

.merge_subwindow {
    border: 2px solid black;
    height: 35vh;
    width: 35vw;
    display: flex;
    align-items: flex-end;
}

h2 {
    margin-top: 1vh;
    margin-left: 1vh;
}

.subarray_element {
    border: .1rem solid wheat;
    /*width: 40px;*/
    /*height: 200px;*/
    background: gray;
}

.state_text {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}