.title {

}

.info_ref {
    position: absolute;
    top: 3vh;
    right: 2vw;
}

.sort_window {
    /*display: none;*/
}

.upper_zone {
    width: 98vw;
    height: 40vh;
}

.main_area {
    width: 98vw;
    height: 40vh;
}

.sort_window {
    width: 98vw;
    /*top: 30px;*/
    margin-left: auto;
    margin-right: auto;
}

.array_window {
    box-shadow: 2px 0 0 0 #000,
    0 2px 0 0 #000,
    2px 2px 0 0 #000,
    2px 0 0 0 #000 inset,
    0 2px 0 0 #000 inset;
    display: flex;
    width: 98vw;
    height: 30vh;
    align-items: flex-end;
}

.array_description {

}

.array_element {
    box-shadow: 1px 0 0 0 #000,
    0 1px 0 0 #000,
    1px 1px 0 0 #000,
    1px 0 0 0 #000 inset,
    0 1px 0 0 #000 inset;
    /*width: 40px;*/
    /*height: 200px;*/
    background: gray;
}

.setting_area {
    display: none;
}

.length {
    margin-left: 2vw;
}

.generate_array_button {
    margin-left: 1vw;
}

.mingal {
    margin-left: 1vw;
}

.speed {
    margin-left: 1vw;
}

.vis_ins {
    margin-left: 1vw;
}

.sort_button {
    margin-left: 1vw;
    position: relative;
    left: 10px;
}

.refresh_button {
    margin-left: 1vw;
    position: relative;
    left: 15px;
}

.lower_zone {
    display: flex;
    /*margin-top: 3vh;*/
}

.stack_area {
    width: 15vw;
    margin-left: 2vw;
}

.stack {
    height: 40vh;
    width: 15vw;
    box-shadow: 2px 0 0 0 #000,
    0 2px 0 0 #000,
    2px 2px 0 0 #000,
    2px 0 0 0 #000 inset,
    0 2px 0 0 #000 inset;
    display: flex;
    flex-direction: column-reverse;
}

.stack_element {
    height: calc(10% - 2px);
    width: 15vw;
    box-shadow: 2px 0 0 0 #000,
    0 2px 0 0 #000,
    2px 2px 0 0 #000,
    2px 0 0 0 #000 inset,
    0 2px 0 0 #000 inset;
}

.merge_area {
    margin-top: 5vh;
    margin-left: 8vw;
}

.merge_window {
    display: flex;
}

.merge_subarea {
    display: flex;
    height: 35vh;
    width: 35vw;
    flex-direction: column-reverse;
}

.merge_value_window {
    box-shadow: 2px 0 0 0 #000,
    0 2px 0 0 #000,
    2px 2px 0 0 #000,
    2px 0 0 0 #000 inset,
    0 2px 0 0 #000 inset;
    height: 5vh;
    width: 35vw;
    text-align: center;
}

.merge_subwindow {
    box-shadow: 2px 0 0 0 #000,
    0 2px 0 0 #000,
    2px 2px 0 0 #000,
    2px 0 0 0 #000 inset,
    0 2px 0 0 #000 inset;
    height: 30vh;
    width: 35vw;
    display: flex;
    align-items: flex-end;
}

#merge_subarea2 {
    margin-left: 0.5vw;
}

h2 {
    margin-top: 1vh;
    margin-left: 1vh;
}

.subarray_element {
    box-shadow: 1px 0 0 0 #000,
    0 1px 0 0 #000,
    1px 1px 0 0 #000,
    1px 0 0 0 #000 inset,
    0 1px 0 0 #000 inset;
    /*width: 40px;*/
    /*height: 200px;*/
    background: gray;
}

.state_text {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}